<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZGxUrWoIOZeiDGJQM2U7QocbhdHYMBdg</string>
	<key>GCM_SENDER_ID</key>
	<string>938399512582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlad.wordLadder</string>
	<key>PROJECT_ID</key>
	<string>wordladder-e0341</string>
	<key>STORAGE_BUCKET</key>
	<string>wordladder-e0341.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938399512582:ios:3d18b2330a966697052b87</string>
</dict>
</plist>